<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">

<div class="four columns">
      <h5>Contact us</h5>
      <ul>
        <li><a href="mailto:anthony@sartorial.ly">Email Us</a></li>
        <li><a href="/sell">Sell to Us</a></li>
        
      </ul>
    </div>

    
    
    <div class="four columns">
      <h5>About Us</h5>
      <ul>
        <li><a href="/our-tailor">Our Tailor</a></li>
        <li><a href="/cobbler">Our Shoe Guy</a></li>
        <li><a href="/giving-back">Giving Back</a></li>
        <li><a href="/sell">Sell To Sartorial.ly</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Exchange Policy</h5>
      <ul>
        <li><a href="/returns">Returns and Exchanges</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Our Mission</h5>
      <p>
       Our mission is to provde an easily-shoppable
       marketplace for high quality, reclaimed goods 
       to conscientious male shoppers, who know what 
       the <strong>hell</strong> their style is, or that are in
       the processing of finding it.
      </p>
    </div>
    
  </div>
</footer>
