<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">

<div class="four columns">
      <h5>Contact us</h5>
      <ul>
        <li><a href="tel:5551212">Call Us 555-1212</a></li>
        <li><a href="mailto:anthony@sartorial.ly">Email Us</a></li>
        <li><a href="/sell">Sell to Us</a></li>
        
      </ul>
    </div>

    
    
    <div class="four columns">
      <h5>About Us</h5>
      <ul>
        <li><a href="/our-tailor">Our Tailor</a></li>
        <li><a href="/our-shoe-guy">Our Shoe Guy</a></li>
        <li><a href="/giving-back">Giving Back</a></li>
        <li><a href="/sell">Sell To Sartorial.ly</a></li>
        <li><a href="/suppliers">Suppliers</a></li>
        <li><a href="/products">Blog</a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/contact-us">Contact</a></li>
        <li><a href="/shipping">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
        <li><a href="/products">F.A.Q.</a></li>
        <li><a href="/products">Size Chart</a></li>
        <li><a href="/products">Personal Shopper</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Important info</h5>
      <p>
        This website is <strong>NOT</strong> a real store, 
        it's a fully working demo application for 
        <a href="http://spreecommerce.com" target="_blank">Spree Commerce</a>. 
        Please feel free to play around, but don't submit 
        any information you would not consider public!
      </p>
    </div>
    
  </div>
</footer>
